$color-black: #5d596c;
$color-white: #ffffff;
$color-grey: #6f6b7d;
$color-light-grey: #adadad;
$color-green: #28c76f;
$color-red: #ea5455;
$color-purple: #7367f0;
$color-yellow: #ff9f43;
$color-blue: #00cfe8;
$color-pink: #fde3fd;
$color-bg-grey: #f8f7fa;
$color-light-purple: #eae8fd;
$color-light-yellow: #fff1e3;
$color-light-red: #fce5e6;
$color-light-blue: #d9f8fc;
$color-dark:#212529;
$color-bg:#040C18;
$gradient-bg:radial-gradient(circle at 3% 25%, rgba(0, 42, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
$gradient-secondary-bg: radial-gradient(circle at 30% - 100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%)